<p class="mt-2 mb-2">Olá <%= @user.email %></p>
<p>Clique no botão abaixo para recuperar sua senha:</p>
<div class="mt-2 mb-2 text-center">
  <a class="btn" href="<%= ENV['APP_FRONTEND'] %>/<%= @token %>" target="_blank">
    Recuperar Senha
  </a>
</div>